SECRET_KEY=django-insecure-r(bj4f7h6+ra6riq)j$6y*-^5+v+%3je!fmm6+kr-(&69(w$^9
DEBUG=True

DATABASES_NAME=to_do
DATABASES_USER=to_do
DATABASES_PASSWORD=to_do
DATABASES_HOST=db
DATABASES_PORT=5432

EMAIL_HOST=mailhog
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=dev@todoapp.pl
